replicaCount: 2

image:
  repository: docker.io/xoibsurferx/tekmetric-interview-backend
  tag: latest
  pullPolicy: Always

serviceAccount:
  create: true
  name: ""

service:
  type: ClusterIP
  port: 80
  targetPort: 8080
  annotations: {}

ingress:
  enabled: true
  className: nginx
  host: backend.localtest.me
  path: /
  pathType: Prefix

resources:
  requests:
    cpu: 100m
    memory: 256Mi
  limits:
    cpu: 500m
    memory: 768Mi

podSecurityContext:
  runAsNonRoot: true
  runAsUser: 10001
  fsGroup: 2000

podAnnotations: {}

securityContext:
  allowPrivilegeEscalation: false
  readOnlyRootFilesystem: true
  capabilities:
    drop:
      - ALL

probes:
  path: /actuator/health
  initialDelaySeconds: 15
  periodSeconds: 10
  timeoutSeconds: 2
  failureThreshold: 6

metrics:
  enabled: true
  path: /actuator/prometheus
  port: 8080
  serviceMonitor:
    enabled: false
    interval: 30s
    scrapeTimeout: 10s
    additionalLabels: {}

autoscaling:
  enabled: true
  minReplicas: 2
  maxReplicas: 5
  targetCPUUtilizationPercentage: 70

pdb:
  enabled: true
  minAvailable: 1

networkPolicy:
  enabled: true
  ingressNamespaces:
    - ingress-nginx
    - monitoring

